chromadb==0.4.18
google_api_python_client==2.108.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
elasticsearch==8.11.1
langchain==0.0.340
langchain_community==0.0.8
requests==2.31.0
sentence_transformers==2.2.2
transformers==4.35.2
youtube_transcript_api==0.6.1
streamlit==1.29.0
#torch==2.1.1 # Install torch and torchvision only for CPU, as described in python-app.yml
python-louvain==0.16
scipy==1.11.4
spacy==3.7.2
numpy==1.26.2
networkx==3.2.1
ragas==0.0.22
llama_cpp_python==0.2.23
